<!DOCTYPE html>
<html lang="en" class="bg-fixed bg-gradient-to-b from-gray-800 to-gray-700 text-white h-screen w-screen">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Nunito&family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">  
  <link rel='icon' href='/images/trackr-favicon.png' />
  <link rel='stylesheet' href='/stylesheets/output.css' />
  <script src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script>
  <title>Trackr</title>
</head>
<body class="text-white">
    <nav class="bg-gray-800 mx-auto px-4 w-2/3">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-stretch justify-start">
                <div class="flex items-center">
                  <a href="/"><img class="h-8 w-auto px-4" src="https://tailwindui.com/img/logos/mark.svg?color=blue&shade=500"></a>
                  <a href="/"><p class="font-bold text-2xl font-serif">Trackr</p></a>
                </div>
                <div class="flex space-x-4 px-4">
                    <% if (user) { %>
                        <a href="/dashboard" class="nav-link">Dashboard</a>
                        <a href="/health/new" class="nav-link">Daily Log</a>
                    <% } %>
                </div>
            </div>

            <div class="absolute inset-y-0 right-0 flex items-center pr-2 space-x-4">
                <% if (user) { %>
                    <% if (user.accessToken) { %>
                        <p class="fitbit-link">Connected</p>
                    <% } else { %>
                        <a href="/auth/fitbit" class="fitbit-link">Connect to Fitbit</a>
                    <% } %>
                    <a href="/logout" class="nav-link">Log Out</a>
                <% } else { %>
                  <div class="flex">
                    <a href="/auth/google" class="nav-link flex items-center">Login &nbsp;<img class="h-6 w-auto" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"></a>
                  </div>
                <% } %>
            </div>
        </div>
    </nav>