<%- include('./partials/header') %>


<div class="max-w-7xl mx-auto px-6 relative pt-36">
  <div class="w-2/3 text-center mx-auto">
    <h1 class="text-white font-bold text-5xl font-serif">Elevate your health <br>today.</h1>
    <p class="mt-8 text-gray-300">Trackr is an all-in-one solution for maintaining your wellbeing and a healthy lifestyle. Track your daily health metrics by seamlessly syncing all your fitness data into one unified ecosystem. Stay on track, set new milestones, and experience a new level of convenience with Trackr.</p>
    <div class="mt-14 flex flex-wrap justify-center">
      <a href="/auth/google" class="relative flex h-11 items-center justify-center px-6 rounded-full bg-blue-600">
        <span class="relative text-base font-semibold text-white">Log In</span>
      </a>
    </div>
    <div class="hidden py-8 mt-16 border-y border-gray-800 flex justify-between">
      
    </div>
  </div>

</div>


<%- include('./partials/footer') %>