<%- include('./partials/header') %>

<h1 class="text-3xl font-bold underline">Home Page</h1>
<p>Welcome to Trackr!</p>
<a href="/auth/google" class="login">Log In&nbsp;</a>

<%- include('./partials/footer') %>