<%- include('../partials/header') %>

<% if (user && user.accessToken) { %>
  <div class="flex flex-col justify-center items-center mt-10">
    <h1 class="font-bold">Sync your data from Fitbit</h1><br>
    <form action="/dashboard" method="POST">
      <input type="hidden" name="source" value="fitbit">
      <input type="hidden" name="user" value= <%= user._id %>>
      <label>Date:</label>
      <input type="date" name="date" class="input-box">
      <button class="action-button mt-3">
        <input type="submit" value="Import">
      </button>
    </form>
  </div>
  <div class="mt-5 border-t border-gray-400 w-2/3 mx-auto"></div>
<% } %>

<div class="flex flex-col justify-center items-center mt-10">
  <h1 class="font-bold">Manually log your day</h1><br>
  <form action="/dashboard" method="POST">
    <input type="hidden" name="source" value="manual">
    <input type="hidden" name="user" value= <%= user._id %>>
    <label>Date:</label>
    <input type="date" name="date" class="input-box">
    <label>Calories consumed:</label>
    <input type="number" name="caloriesIn" class="input-box">
    <label>Calories burned:</label>
    <input type="number" name="caloriesOut" class="input-box">
    <label>Resting heart rate:</label>
    <input type="number" name="restingHeartRate" class="input-box">
    <label>Daily steps:</label>
    <input type="number" name="steps" class="input-box">
    <label>Weight:</label>
    <input type="number" name="weight" class="input-box">
    <label>Hours of sleep:</label>
    <input type="number" name="sleep" class="input-box">
    <button class="action-button mt-3">
      <input type="submit" value="Add">
    </button>
  </form>
</div>

<%- include('../partials/footer') %>
